@media (min-width: 450px) {
    #loading_screen #onload {
       top:30%;
     }
     #bar{
       position: absolute;
     left: 35.4%;
     right: 37.27%;
     top: 60%;
     height: 3%;
     background: #FFFFFF;
     border-radius: 5px;
     }
     #photography img {
      width:28%!important;
      left:35%;
    }
   }
@media (min-width:629px) {
    #onload {
        left:39%;
        width:20%;
        top:30%!important;
      }
    


}
@media (min-width:1000px) {
    #onload {
        left:41.5%;
        width:15%;
        top:20%!important;
      }
}

@media (min-width:660px) {
  #photography img {
    width:20%!important;
    left:42%;
  }
}
@media (min-width:900px) {
  #photography img {
    width:15%!important;
    left:42%;
  }
}
@media (min-width:1100px) {
  #photography img {
    width:12%!important;
    left:42%;
  }
}