#loading_screen 
{
position: fixed;
height: 100%;
width:100%;
background: linear-gradient(180deg, #002947 0%, rgba(56, 144, 207, 0.79) 93.75%);
opacity: 1;
z-index: 10;
cursor: wait;
}

 #onload {
  position: absolute;  
  left:29%;
  /*zdjecie procentowo pozycjonuje sie do diva,dopracowac rwd,odzielna wersja na komputer*/
  width:40%;
  top:40%;
}
#bar{
  position: absolute;
left: 35.4%;
right: 37.27%;
top: 60%;
height: 3%;
background: #FFFFFF;
border-radius: 5px;

}
#moving_object{
  height: 100%;
  width: 20%;
  background-color: rgba(0, 60, 103, 0.24);
  animation-name: move;
  animation-duration: 1s;
  animation-delay:0s ;
  position: relative;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}
#onload img {
width:100%;
}
@keyframes move {
0% {left:0%}
100% {left:80%}
}
